@font-face {
    font-family: "Gilroy";
    src: url("CustomFont.eot");
    src: url("CustomFont.woff") format("woff"),
    url("font/Gilroy-Light.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
    }
    
    @font-face {
    font-family: "Gilroy-bold";
    src: url("CustomFont.eot");
    src: url("CustomFont.woff") format("woff"),
    url("font/Gilroy-ExtraBold.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
    }
    
    body{
        font-family: Gilroy;
    }
        .sec_1{
         
        }
       
        .navbar-light .navbar-nav .nav-link {
        color: black !important;
        font-size: 1.05vw;
        font-weight: bold;
    }
    
    
    .sign_in_button{
        border: 1px solid black;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 30%;
        padding-right: 30%;
        border-radius: 2rem;
        margin-top: 6%;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: 2rem; */
        /* padding-left: 1rem; */
    }
    
    .nav_padding-left{
        padding-left:16vw !important;
    
    }
    .navbar {
        /* padding: 0.5rem 10.5rem ; */
    }
    .navbar-nav{
        padding-left: 5%;
    }
    
    .logo_img{
        /* width: 7vw; */
    }
    .center{
        text-align: center;
    }
    .white_img{
        width: 3vw;
        margin-top: 10%;
    }
    .nav_title{
        color: white;
        font-weight: bold;
        margin-top: 1%;
    }
    .nav_title_1{
        color: white;
        font-size: 1.5vw;
        font-weight: 600;
        margin-top: 0.5%;
    }
    
    
    
        .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        width: 42vw;
        height: 4vw;
        background-color: white;
        border-radius: 2vw;
        padding-left: 1vw;
        padding-right: 0.5vw;
        margin-top: 2%;
        }
    
        .search_input{
        color: black;
        border: 0;
        outline: 0;
        width: 29%;
        font-size: 1.23vw;
        font-weight: bold;
        caret-color:transparent;
        line-height: 3vw;
        /*margin-left: 5%;*/
        margin-left: -2% !important;
        }
    
    
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        text-decoration:none;
        }
        .search_icon{
            width: 3vw;
            height: 3vw;
        }
    
        /* Slider css*/
        .bbb_viewed_title_container {
         display: block;
         position: relative;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box
     }
    
    
     .bbb_main_container {
         background-color: #fff;
         padding: 11px;
         width:105%;
     }
    
     
    
     .bbb_viewed_title {
         margin-bottom: 10px;
         margin-top: 8px;
         font-size: 1.8vw;
         font-family: Gilroy-bold;
         
         
     }

     .bbb_viewed_title_span {
         font-family:Gilroy !important ;
        font-size: 1.8vw;
        font-weight: bold;
        font-style: italic;
        
        
    }

     .container_page{
         max-width: 1400px;
     }
    
     .bbb_viewed_nav_container {
         position: absolute;
         right: 18px;
         bottom: 0px
     }
    
     .bbb_viewed_nav {
         display: inline-block;
         cursor: pointer
         
     }
    
     .bbb_viewed_nav i {
         color: #dadada;
         font-size: 18px;
         padding: 5px;
         -webkit-transition: all 200ms ease;
         -moz-transition: all 200ms ease;
         -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
         transition: all 200ms ease
     }
    
     .bbb_viewed_nav:hover i {
         color: #606264
     }
    
     .bbb_viewed_prev {
         margin-right: 7px
     }
    
     .bbb_viewed_prev_1 {
         margin-right: 7px
     }
    
     .bbb_viewed_prev_2 {
         margin-right: 7px
     }
    
     .bbb_viewed_slider_container {
         padding-top: 0px
     }
    
     .bbb_viewed_item {
         width: 100%;
         background: #FFFFFF;
         border-radius: 2px;
         padding-top: 25px;
         padding-bottom: 25px;
         padding-left: 0px;
         padding-right: 0px
     }
    
     .bbb_viewed_image {
         width: 11.5vw;
          
     }

     .slider_card{
         border: 1px solid rgba(100, 100, 111, 0.2);
         box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
         padding: 5%;
         margin-left: 1%;
         margin-right: 1%;
         
     }
    
     .bbb_viewed_image img {
         display: block;
         max-width: 100%
     }
    
    
    
     .bbb_viewed_item.discount .bbb_viewed_price {
         color: #df3b3b
     }
    
     .bbb_viewed_price span {
         position: relative;
         font-size: 12px;
         font-weight: 400;
         color: rgba(0, 0, 0, 0.6);
         margin-left: 8px
     }
    
     .bbb_viewed_price span::after {
         display: block;
         position: absolute;
         top: 6px;
         left: -2px;
         width: calc(100% + 4px);
         height: 1px;
         background: #8d8d8d;
         content: ''
     }
    
     
    
     .bbb_viewed_name a {
         font-size: 14px;
         color: #000000;
         -webkit-transition: all 200ms ease;
         -moz-transition: all 200ms ease;
         -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
         transition: all 200ms ease
     }
    
     .bbb_viewed_name a:hover {
         color: #0e8ce4
     }
    
     .item_marks {
         position: absolute;
         top: 18px;
         left: 18px
     }
    
     .item_mark {
         display: none;
         width: 36px;
         height: 36px;
         border-radius: 50%;
         color: #FFFFFF;
         font-size: 10px;
         font-weight: 500;
         line-height: 36px;
         text-align: center
     }
    
     .item_discount {
         background: #df3b3b;
         margin-right: 5px
     }
    
     .item_new {
         background: #0e8ce4
     }
    
     .bbb_viewed_item.discount .item_discount {
         display: inline-block
     }
    
     .bbb_viewed_item.is_new .item_new {
         display: inline-block
     }
     .owl-item{
         margin-right: 0px !important;
         
     }
     
    
     .sec2{
         margin-left: 12vw !;
         margin-right: 15vw ;
     }
    
     .sec3{
         margin-left: 12vw ;
         margin-right: 15vw ;
     }
    
     .sec4{
         margin-left: 12vw ;
         margin-right: 15vw ;
         margin-top: 1%;
     }

     .sec7{
        margin-left: 12vw ;
        margin-right: 15vw ;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    

    
    
     .sec5{
         margin-left: 12vw ;
         margin-right: 15vw ;
         margin-top: 6%;
     }
    
     
    
     .sec6_bg{
    
    background-image: url("footer/footer.png");
     background-repeat:no-repeat;
     background-size:cover;
     
     
    
    }
    .sec6{
         margin-left: 12vw ;
         margin-right: 15vw ;
        
     }
     
     
    
    
     .small_icon{
         width: 2vw;
     }
    
     .slider2_title{
         margin-bottom: 0%;
         font-size: 1.5vw;
         font-weight:bold;
     }
    
     .slider_bottom_heading{
         
         font-size: 1.4vw;
         font-family: Gilroy-bold;
         margin-bottom: 7.5%;
     }

     .slider_bottom_heading_1{
         
        font-size: 1.4vw;
        font-family: Gilroy-bold;
        margin-bottom: 0%;
    }
    
     .slider_bottom_heading_2{
         
         font-size: 0.83vw;
         font-family: Gilroy-bold;
         margin-bottom: 0;
     }
    
     .slider_bottom_paragraph{
         font-size: 0.85vw;
         margin-bottom: 0;
     }
    
     .by_location{
         color: blue;
         font-family: Gilroy-bold;
         font-style: italic;
         font-size: 1.1vw;
     }
     .sec4_paragraph{
         font-size: 5.2vw;
         line-height: 5vw;
         font-family: Gilroy-bold;
         font-weight: 900;
         font-style: italic;
     }
    
     .sec4_heading{
         font-size: 1.8vw;
         font-weight: bolder;
        
     }
    
    
     
     .footer_margin_top{
         padding-top: 9%;
         color: white;
         text-decoration: none;
     }
     .footer_logo{
         width: 14vw;
     }
    
     .footer_paragraph{
         color: white;
         font-size: 1vw;
         margin-top: 3%;
         width: 24.2vw;
         line-height: 1.2vw;
     }
     .links_heading_1{
         font-family: Gilroy-bold;
         font-size: 1.1vw;
         margin-bottom: 15%;
    
     }
     .link_a{
         font-size: 1vw;
         color:white;
         text-decoration: none;
         line-height: 2.2vw;
     }
    
     .footer_grid{
         margin-right: 2vw;
     }
    
     .line{
         color: gray;
         background-color: gray;
     }
    
     .rights{
         color: white;
         font-size: 1vw;
     }
    
    
     .fb_icon{
         width: 0.8vw;
         margin-top: 18%;
     }
    
     .in_icon{
         width: 1.8vw;
         margin-top: 18%;
         margin-right: 11%;
     }
     .hr_nav{
         margin-top: 0!important;
       
     }
     .card{
         border: 2px solid 	#D3D3D3;
         width: 23.7vw;
         padding: 1.2vw;
         border-radius: 0.5rem;
     }
     .card_heading{
         font-family: Gilroy-bold;
         font-size: 1.3vw;
     }
     .card_heading_1{
        font-family: Gilroy-bold;
        font-size: 1.3vw;
        margin-left: 15%;
    }

     .card_sub_heading{
        
        font-size: 1.06vw;
        color: blue;
        font-weight: bold;
        margin-bottom: 1%;
    }

    .card_paragraph{
        color: 	#A9A9A9;
        font-size: 1vw;
        line-height: 1.29vw;
        font-weight: bold;
        margin-bottom: 0;
    }

    .summary_heading{
        font-size: 1.02vw;
        font-weight: bold;
    }

    .register_button{
        background-color: blue;
        color: white;
        padding-top: 0.8vw;
        padding-bottom:0.8vw;
        padding-left: 8vw;
        padding-right: 5vw;
        border-radius: 2rem;
        opacity: 0.6;
        margin-top: 24%;
    }

 

.get_ticker_haeding{
    font-family: Gilroy-bold;
    font-size: 1.52vw;
    margin-bottom: 4%;
}

.counter{
    border: none;
    width: 2.1vw;
    margin-left: 1vw;
    font-weight: bold;
    font-family: Gilroy;
}

.counter_img{
width: 3.25vw;
}
.counter_heading{
    margin-bottom: 0.2vw;
    font-family: Gilroy-bold;
    font-weight: 300;
    font-size:1.4vw;
}

.counter_heading_2{
    margin-top: 0;
    font-size: 1.3vw;
    font-weight: bold;
    
    
}
.loaction_haeding{

    font-family: Gilroy-bold;
    font-size: 1.45vw;
    margin-bottom: 2%;
    margin-top: 12%;

}

#map {
    height: 100%;
}
  
  .maps{
      height: 22vw;
  }
  
  .organize_margin{
      margin-top: 10%;

  }

  .organize_heading{
      font-size: 1.8vw;
      font-family: Gilroy-bold;

  }

  .organize_heading_2{
      font-size: 1.3vw;
      font-weight: bold;     
}

.follow_button{
    border: 1px solid #007bff;
    font-size: 1.4vw;
    font-weight: bold;
    border-radius: 2rem;
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    margin-left: 15%;
    text-decoration: none;
}

.button_margin{
    margin-top: 2%;
    
}

.share_margin{
    margin-top: 12%;
}

.share_button{
    background-color:#007bff;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

/* Tabs css
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
  }
   .nav-tabs{
       font-family: Gilroy-bold;
   }
  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  
  /* Below tabs mode */
  
  .tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
  }
  .tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
  }
  .tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
  }
  .tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
  }
  .tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }

  
  @media only screen and (max-width: 992px) {

    .sec2 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 15px;
    }

    .sec3 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 15px;
    }
    .sec4 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 15px;
    }
    .sec6 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 15px;
    }
    
}
.whitenav{box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);}
